In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('df_rate.csv', index_col=0)

In [4]:
df.head()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
14664,ALB,Albania,Europe,Southern Europe,Violent offences,by type of offence,Serious assault,Total,Total,2019,"Rate per 100,000 population","5,497786271",CTS
14665,AND,Andorra,Europe,Southern Europe,Violent offences,by type of offence,Serious assault,Total,Total,2019,"Rate per 100,000 population","327,4694471",CTS
14666,ARE,United Arab Emirates,Asia,Western Asia,Violent offences,by type of offence,Serious assault,Total,Total,2019,"Rate per 100,000 population","2,084315558",CTS
14667,ARG,Argentina,Americas,Latin America and the Caribbean,Violent offences,by type of offence,Serious assault,Total,Total,2019,"Rate per 100,000 population","321,1427647",CTS
14668,ARM,Armenia,Asia,Western Asia,Violent offences,by type of offence,Serious assault,Total,Total,2019,"Rate per 100,000 population","7,445219141",CTS

In [5]:
df['Source'].unique()

array(['CTS', 'CTS/MoI', 'CTS/DATASUS', 'CTS/NSO', 'CTS/NGO', 'CTS/DMDB',
       'CTS/PPR', 'CTS/Computed', 'Computed/CTS', 'PPR/CTS', 'MoI/CTS',
       'MoI', 'NGO', 'DMDB', 'MNS', 'NGO/CTS', 'PPR', 'NSO'], dtype=object)

In [6]:
eliminar_cols = ['Iso3_code', 'Age']

In [7]:

df = df.drop(columns=eliminar_cols)

In [8]:
df.head(1)

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Year,Unit of measurement,VALUE,Source
14664,Albania,Europe,Southern Europe,Violent offences,by type of offence,Serious assault,Total,2019,"Rate per 100,000 population","5,497786271",CTS

In [9]:
df.isnull().sum()/df.shape[0]*100

Country                0.0
Region                 0.0
Subregion              0.0
Indicator              0.0
Dimension              0.0
Category               0.0
Sex                    0.0
Year                   0.0
Unit of measurement    0.0
VALUE                  0.0
Source                 0.0
dtype: float64

In [10]:
df.sample()

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Year,Unit of measurement,VALUE,Source
20556,United States of America,Americas,Northern America,Violent offences,by type of offence,Sexual violence: Rape,Total,2021,"Rate per 100,000 population","41,7735907",CTS

In [11]:
def cambiar_nombres_col(df):
    for col in df.columns:
        df.columns = df.columns.str.replace(' ', '_').str.lower()
    return df

In [12]:
cambiar_nombres_col(df)

,country,region,subregion,indicator,dimension,category,sex,year,unit_of_measurement,value,source
14664,Albania,Europe,Southern Europe,Violent offences,by type of offence,Serious assault,Total,2019,"Rate per 100,000 population","5,497786271",CTS
14665,Andorra,Europe,Southern Europe,Violent offences,by type of offence,Serious assault,Total,2019,"Rate per 100,000 population","327,4694471",CTS
14666,United Arab Emirates,Asia,Western Asia,Violent offences,by type of offence,Serious assault,Total,2019,"Rate per 100,000 population","2,084315558",CTS
14667,Argentina,Americas,Latin America and the Caribbean,Violent offences,by type of offence,Serious assault,Total,2019,"Rate per 100,000 population","321,1427647",CTS
14668,Armenia,Asia,Western Asia,Violent offences,by type of offence,Serious assault,Total,2019,"Rate per 100,000 population","7,445219141",CTS
...,...,...,...,...,...,...,...,...,...,...,...
26109,Montenegro,Europe,Southern Europe,Violent offences,by type of offence,Acts intended to induce fear or emotional dist...,Total,2021,"Rate per 100,000 population","1,592715556",CTS
26110,Mauritius,Africa,Sub-Saharan Africa,Violent offences,by type of offence,Acts intended to induce fear or emotional dist...,Total,2021,"Rate per 100,000 population","26,32966745",CTS
26111,El Salvador,Americas,Latin America and the Caribbean,Violent offences,by type of offence,Acts intended to induce fear or emotional dist...,Total,2021,"Rate per 100,000 population","0,063349597",CTS
26112,Serbia,Europe,Southern Europe,Violent offences,by type of offence,Acts intended to induce fear or emotional dist...,Total,2021,"Rate per 100,000 population","0,013704696",CTS
26113,Eswatini,Africa,Sub-Saharan Africa,Violent offences,by type of offence,Acts intended to induce fear or emotional dist...,Total,2021,"Rate per 100,000 population",0,CTS

In [13]:
df[df['value'] == 0].shape #es un 5.83% de los datos

(0, 11)

In [14]:
df.shape

(3957, 11)

In [15]:
df['value'] = df['value'].str.replace(',', '.')

In [16]:
df['value'] = df['value'].astype(float)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3957 entries, 14664 to 26113
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country              3957 non-null   object
 1   region               3957 non-null   object
 2   subregion            3957 non-null   object
 3   indicator            3957 non-null   object
 4   dimension            3957 non-null   object
 5   category             3957 non-null   object
 6   sex                  3957 non-null   object
 7   year                 3957 non-null   int64
 8   unit_of_measurement  3957 non-null   object
 9   value                3957 non-null   float64
 10  source               3957 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 371.0+ KB

In [18]:
df['value'] = df['value'].replace(0, np.nan)

In [24]:
df['porcentaje'] = round(df['value']*100/100000, 4)

In [25]:
df.head()

,country,region,subregion,indicator,dimension,category,sex,year,unit_of_measurement,value,source,porcentaje
14664,Albania,Europe,Southern Europe,Violent offences,by type of offence,Serious assault,Total,2019,"Rate per 100,000 population",5.497786,CTS,0.0055
14665,Andorra,Europe,Southern Europe,Violent offences,by type of offence,Serious assault,Total,2019,"Rate per 100,000 population",327.469447,CTS,0.3275
14666,United Arab Emirates,Asia,Western Asia,Violent offences,by type of offence,Serious assault,Total,2019,"Rate per 100,000 population",2.084316,CTS,0.0021
14667,Argentina,Americas,Latin America and the Caribbean,Violent offences,by type of offence,Serious assault,Total,2019,"Rate per 100,000 population",321.142765,CTS,0.3211
14668,Armenia,Asia,Western Asia,Violent offences,by type of offence,Serious assault,Total,2019,"Rate per 100,000 population",7.445219,CTS,0.0074

In [28]:
df.to_csv('df_final.csv', index=False)